:root {
    --textColor: black;
    --highlightColor: green;
    --squareColor: white;
    --boardColor: white;
    --tilesize: 20%;
}

table {
    background-color: var(--boardColor);
    height: 95vh;
    max-width: 98vw;
    padding: 2px;
    border: 1px solid black;
}

td {
    background-color: var(--squareColor);
    color: var(--textColor);
    width: var(--tilesize);
    height: var(--tilesize);
    border: 1px solid black;
    text-align: center;
}

td.checked {
    background-color: var(--highlightColor);
}